@font-face {
    font-family: 'Sk-Modernist';
    src: url('./assets/font/Sk-Modernist-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #111;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    width: 100vh;
    height: 100vh;
    background-image: url('./assets/img/backgroundImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Sk-Modernist';
    color: white;
}

#topContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#headerContainer {
    width: 100vw;
    padding: 40px 60px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoTitle {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1%;
    font-family: 'Manrope';
}

#logoTitle a {
    color: #d8d8d9;
}

#navContainer {
    padding: 16px 32px;
    background-color: #C4C4C4;
}

#navList {
    font-size: 16px;
    font-weight: normal;
    display: flex;
    gap: 40px;
}

#navList li {
    border-bottom: transparent solid 1px;
}

#navList li:hover {
    border-bottom: #111 solid 1px;
}

#contentContainer {
    width: 100vw;
    color: #C4C4C4;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#contentContainer img {
    width: 500px;
    height: 278px;
}

#mainTitleContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#mainTitle, #mainTitleYear {
    color: #d8d8d9;
    font-size: 248px;
    font-weight: normal;
    text-align: center;
    line-height: 1.2;
}

#mainTitleYear {
    font-family: "ivymode";
    font-weight: normal;
}