@font-face {
    font-family: 'Sk-Modernist';
    src: url('./assets/font/Sk-Modernist-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #111;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    width: 100vh;
    height: 100vh;
    background-image: url('./assets/img/backgroundImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Sk-Modernist';
    color: white;
}

#topContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contentContainer {
    width: 100vw;
    margin-top: 16px;
    color: #C4C4C4;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#contentContainer img {
    width: 500px;
    height: 278px;
}

#mainTitleContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#mainTitle, #mainTitleYear {
    color: #d8d8d9;
    font-size: 248px;
    font-weight: normal;
    text-align: center;
    line-height: 1.2;
}

#mainTitleYear {
    font-family: "ivymode";
    font-weight: normal;
}